@{
    ViewBag.Title = "Cầu vận chuyển, vận chuyển hàng hóa";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@using ProjectDKT.Areas.Admin.Helpers


<!--Begin Banner-->
<div class="banner">
    <div class="fix-temp">
        <div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
                @foreach (var item in Model.Banner)
                {
                    string temp = ImageHelpers.GetPathImage(Path.GetFileName(@item.UrlImage));
                    <img src="@Url.Content(@temp)"/>
                }
            </div>
        </div>
    </div>
</div>
<!--End Banner-->
<!--Begin Content-->
<div class="fix-temp">
    <div class="title-service">
        <span></span>
        Dịch Vụ Nổi Bật
    </div>
    @foreach (var item in Model.New)
    {
        <div class="hot-service">
            <div class="name"><a href="#">@item.Title</a></div>
            <div class="img"><a href="#"><img src="@Url.Content(ImageHelpers.GetPathImage(Path.GetFileName(@item.UrlImage)))" /></a></div>
            <div class="info">
                @item.Summary
            </div>
            <div class="clear"></div>
        </div>
    }



    <div class="clear10"></div>

    <!--Begin Car 25-170-->
    <div class="car-title">
        <span></span>
        Cẩu chuyên dụng từ 25 tấn đến 170 tấn
    </div>
    <div class="hPhoto-thumbs">
        <a href="~/Content/images/cars/25_170/big_page0003jpg-20140814085218921.jpg" data-lightbox="album">
            <img src="~/Content/images/cars/25_170/resize_page0003jpg-20140814085218921.jpg" />
        </a>
    </div>
    <div class="hPhoto-thumbs">
        <a href="~/Content/images/cars/25_170/big_page0004jpg-20140814085229156.jpg" data-lightbox="album">
            <img src="~/Content/images/cars/25_170/resize_page0004jpg-20140814085229156.jpg" />
        </a>
    </div>
    <div class="hPhoto-thumbs">
        <a href="~/Content/images/cars/25_170/big_page0005jpg-20140814085240781.jpg" data-lightbox="album">
            <img src="~/Content/images/cars/25_170/resize_page0005jpg-20140814085240781.jpg" />
        </a>
    </div>
    <div class="hPhoto-thumbs">
        <a href="~/Content/images/cars/25_170/big_page0006jpg-20140814085248687.jpg" data-lightbox="album">
            <img src="~/Content/images/cars/25_170/resize_page0006jpg-20140814085248687.jpg" />
        </a>
    </div>
    <div class="clear"></div>
    <div class="hPhoto-thumbs">
        <a href="~/Content/images/cars/25_170/big_page0007jpg-20140814085258125.jpg" data-lightbox="album">
            <img src="~/Content/images/cars/25_170/resize_page0007jpg-20140814085258125.jpg" />
        </a>
    </div>
    <div class="hPhoto-thumbs">
        <a href="~/Content/images/cars/25_170/big_page0008jpg-20140814085307484.jpg" data-lightbox="album">
            <img src="~/Content/images/cars/25_170/resize_page0008jpg-20140814085307484.jpg" />
        </a>
    </div>
    <div class="hPhoto-thumbs">
        <a href="~/Content/images/cars/25_170/big_page0009jpg-201408140853160.jpg" data-lightbox="album">
            <img src="~/Content/images/cars/25_170/resize_page0009jpg-201408140853160.jpg" />
        </a>
    </div>
    <div class="hPhoto-thumbs">
        <a href="~/Content/images/cars/25_170/big_page0010jpg-20140814085645468.jpg" data-lightbox="album">
            <img src="~/Content/images/cars/25_170/resize_page0010jpg-20140814085645468.jpg" />
        </a>
    </div>
    <div class="clear"></div>
    <div class="clear10"></div>
    <!--End Car with weight-->
    <!--Begin Car 2,5 - 15 -->
    <div class="car-title">
        <span></span>
        Cẩu vận chuyển bằng xe tự hành từ 2,5 tấn 5 tấn, 8 tấn, 10 tấn, 12 tấn đến 15 tấn
    </div>
    <div class="hPhoto-thumbs">
        <a href="~/Content/images/cars/25_170/big_page0010jpg-20140814085645468.jpg" data-lightbox="album">
            <img src="~/Content/images/cars/25_170/resize_page0010jpg-20140814085645468.jpg" />
        </a>
    </div>
    <div class="hPhoto-thumbs">
        <a href="~/Content/images/cars/25_170/big_page0010jpg-20140814085645468.jpg" data-lightbox="album">
            <img src="~/Content/images/cars/25_170/resize_page0010jpg-20140814085645468.jpg" />
        </a>
    </div>
    <div class="hPhoto-thumbs">
        <a href="~/Content/images/cars/25_170/big_page0010jpg-20140814085645468.jpg" data-lightbox="album">
            <img src="~/Content/images/cars/25_170/resize_page0010jpg-20140814085645468.jpg" />
        </a>
    </div>
    <div class="hPhoto-thumbs">
        <a href="~/Content/images/cars/25_170/big_page0010jpg-20140814085645468.jpg" data-lightbox="album">
            <img src="~/Content/images/cars/25_170/resize_page0010jpg-20140814085645468.jpg" />
        </a>
    </div>
    <div class="clear"></div>
    <div class="clear10"></div>
    <!--End Car with weight-->
    <!--Begin Car Fooc Somi-->
    <div class="car-title">
        <span></span>
        Vận chuyển bằng xe Fooc somi
    </div>
    <div class="hPhoto-thumbs">
        <a href="~/Content/images/cars/25_170/big_page0010jpg-20140814085645468.jpg" data-lightbox="album">
            <img src="~/Content/images/cars/25_170/resize_page0010jpg-20140814085645468.jpg" />
        </a>
    </div>
    <div class="hPhoto-thumbs">
        <a href="~/Content/images/cars/25_170/big_page0010jpg-20140814085645468.jpg" data-lightbox="album">
            <img src="~/Content/images/cars/25_170/resize_page0010jpg-20140814085645468.jpg" />
        </a>
    </div>
    <div class="hPhoto-thumbs">
        <a href="~/Content/images/cars/25_170/big_page0010jpg-20140814085645468.jpg" data-lightbox="album">
            <img src="~/Content/images/cars/25_170/resize_page0010jpg-20140814085645468.jpg" />
        </a>
    </div>
    <div class="hPhoto-thumbs">
        <a href="~/Content/images/cars/25_170/big_page0010jpg-20140814085645468.jpg" data-lightbox="album">
            <img src="~/Content/images/cars/25_170/resize_page0010jpg-20140814085645468.jpg" />
        </a>
    </div>
    <div class="clear"></div>
    <div class="hPhoto-thumbs">
        <a href="~/Content/images/cars/25_170/big_page0010jpg-20140814085645468.jpg" data-lightbox="album">
            <img src="~/Content/images/cars/25_170/resize_page0010jpg-20140814085645468.jpg" />
        </a>
    </div>
    <div class="hPhoto-thumbs">
        <a href="~/Content/images/cars/25_170/big_page0010jpg-20140814085645468.jpg" data-lightbox="album">
            <img src="~/Content/images/cars/25_170/resize_page0010jpg-20140814085645468.jpg" />
        </a>
    </div>
    <div class="hPhoto-thumbs">
        <a href="~/Content/images/cars/25_170/big_page0010jpg-20140814085645468.jpg" data-lightbox="album">
            <img src="~/Content/images/cars/25_170/resize_page0010jpg-20140814085645468.jpg" />
        </a>
    </div>
    <div class="hPhoto-thumbs">
        <a href="~/Content/images/cars/25_170/big_page0010jpg-20140814085645468.jpg" data-lightbox="album">
            <img src="~/Content/images/cars/25_170/resize_page0010jpg-20140814085645468.jpg" />
        </a>
    </div>
    <div class="clear"></div>
    <div class="clear10"></div>
    <!--End Car with weight-->
    <!--Begin Car BTN-->
    <div class="car-title">
        <span></span>
        Vận chuyển bằng xe tải các tỉnh bắc trung nam
    </div>
    <div class="hPhoto-thumbs">
        <a href="~/Content/images/cars/25_170/big_page0010jpg-20140814085645468.jpg" data-lightbox="album">
            <img src="~/Content/images/cars/25_170/resize_page0010jpg-20140814085645468.jpg" />
        </a>
    </div>
    <div class="hPhoto-thumbs">
        <a href="~/Content/images/cars/25_170/big_page0010jpg-20140814085645468.jpg" data-lightbox="album">
            <img src="~/Content/images/cars/25_170/resize_page0010jpg-20140814085645468.jpg" />
        </a>
    </div>
    <div class="hPhoto-thumbs">
        <a href="~/Content/images/cars/25_170/big_page0010jpg-20140814085645468.jpg" data-lightbox="album">
            <img src="~/Content/images/cars/25_170/resize_page0010jpg-20140814085645468.jpg" />
        </a>
    </div>
    <div class="hPhoto-thumbs">
        <a href="~/Content/images/cars/25_170/big_page0010jpg-20140814085645468.jpg" data-lightbox="album">
            <img src="~/Content/images/cars/25_170/resize_page0010jpg-20140814085645468.jpg" />
        </a>
    </div>
    <div class="clear"></div>
    <div class="clear10"></div>
    <!--End Car with weight-->
    <!--Begin Car BTN-->
    <div class="car-title">
        <span></span>
        Vận chuyển bằng xe tải các tỉnh bắc trung nam
    </div>
    <div class="hPhoto-thumbs">
        <a href="~/Content/images/cars/25_170/big_page0010jpg-20140814085645468.jpg" data-lightbox="album">
            <img src="~/Content/images/cars/25_170/resize_page0010jpg-20140814085645468.jpg" />
        </a>
    </div>
    <div class="hPhoto-thumbs">
        <a href="~/Content/images/cars/25_170/big_page0010jpg-20140814085645468.jpg" data-lightbox="album">
            <img src="~/Content/images/cars/25_170/resize_page0010jpg-20140814085645468.jpg" />
        </a>
    </div>
    <div class="hPhoto-thumbs">
        <a href="~/Content/images/cars/25_170/big_page0010jpg-20140814085645468.jpg" data-lightbox="album">
            <img src="~/Content/images/cars/25_170/resize_page0010jpg-20140814085645468.jpg" />
        </a>
    </div>
    <div class="hPhoto-thumbs">
        <a href="~/Content/images/cars/25_170/big_page0010jpg-20140814085645468.jpg" data-lightbox="album">
            <img src="~/Content/images/cars/25_170/resize_page0010jpg-20140814085645468.jpg" />
        </a>
    </div>
    <div class="clear"></div>
    <div class="hPhoto-thumbs">
        <a href="~/Content/images/cars/25_170/big_page0010jpg-20140814085645468.jpg" data-lightbox="album">
            <img src="~/Content/images/cars/25_170/resize_page0010jpg-20140814085645468.jpg" />
        </a>
    </div>
    <div class="hPhoto-thumbs">
        <a href="~/Content/images/cars/25_170/big_page0010jpg-20140814085645468.jpg" data-lightbox="album">
            <img src="~/Content/images/cars/25_170/resize_page0010jpg-20140814085645468.jpg" />
        </a>
    </div>
    <div class="hPhoto-thumbs">
        <a href="~/Content/images/cars/25_170/big_page0010jpg-20140814085645468.jpg" data-lightbox="album">
            <img src="~/Content/images/cars/25_170/resize_page0010jpg-20140814085645468.jpg" />
        </a>
    </div>
    <div class="hPhoto-thumbs">
        <a href="~/Content/images/cars/25_170/big_page0010jpg-20140814085645468.jpg" data-lightbox="album">
            <img src="~/Content/images/cars/25_170/resize_page0010jpg-20140814085645468.jpg" />
        </a>
    </div>
    <div class="clear"></div>
    <!--End Car with weight-->
</div>
<!--End Content-->



<script type="text/javascript">
    $(function () {
        $('#slider').nivoSlider({

            effect: 'random',                 // Specify sets like: 'fold,fade,sliceDown'
            slices: 15,                       // For slice animations
            boxCols: 8,                       // For box animations
            boxRows: 4,                       // For box animations
            animSpeed: 500,                   // Slide transition speed
            pauseTime: 3000,                  // How long each slide will show
            startSlide: 0,                    // Set starting Slide (0 index)
            directionNav: true,               // Next & Prev navigation
            controlNav: true,                 // 1,2,3... navigation
            controlNavThumbs: false,          // Use thumbnails for Control Nav
            pauseOnHover: true,               // Stop animation while hovering
            manualAdvance: false,             // Force manual transitions
            prevText: 'Prev',                 // Prev directionNav text
            nextText: 'Next',                 // Next directionNav text
            randomStart: false,               // Start on a random slide
            beforeChange: function () { },       // Triggers before a slide transition
            afterChange: function () { },        // Triggers after a slide transition
            slideshowEnd: function () { },       // Triggers after all slides have been shown
            lastSlide: function () { },          // Triggers when last slide is shown
            afterLoad: function () { }           // Triggers when slider has loaded
        });
    });

</script>

