@model ProjectDKT.Areas.Admin.Models.ViewImage

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml";
}


<h2>Create</h2>

@using (Html.BeginForm("Create", "Banners", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal col-md-offset-2">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-12">
                <label class="control-label">Choose a resize image :</label>
            </div>
            <div class="col-md-12">
                @Html.EditorFor(m => m.UrlResizeImage)
                @Html.ValidationMessageFor(model => model.UrlResizeImage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <label class="control-label">Choose a big image :</label>
            </div>
            <div class="col-md-12">
                @Html.EditorFor(m => m.UrlBigImage)
                @Html.ValidationMessageFor(model => model.UrlBigImage, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-12">Do you want set in library now ?</div>
            <div class="col-md-12">
                @Html.EditorFor(m => m.IsLibrary)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.CatalogID,new { @class="control-label"})
            <div class="col-md-12">
                @Html.DropDownList("CatalogID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CatalogID, null, new { @class="text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div class="col-md-offset-2">
    @Html.ActionLink("Back to List", "Index")
</div>